@use "../abstracts/variables" as *;

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  &__label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      font-size: 0.75rem;
      font-weight: var(--fw-bold);
      color: var(--clr-neutral-dark-slate-grey);
    }
  }

  &__error {
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-tomato);
  }

  input {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid var(--clr-neutral-grey);
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.2s ease;

    &::placeholder {
      color: var(--clr-neutral-grey);
    }

    &:focus {
      border-color: var(--clr-neutral-dark-slate-grey);
      color: var(--clr-neutral-dark-slate-grey);
    }

    &.error {
      border-color: var(--clr-primary-tomato);
      background-color: hsla(4, 100%, 67%, 0.15);
      color: var(--clr-primary-tomato); 
      font-weight: var(--fw-bold);
    }
  }
}

.button {
  background-color: var(--clr-neutral-dark-slate-grey);
  color: var(--clr-neutral-white);
  width: 100%;
  padding: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(to right, #ff527b, var(--clr-primary-tomato));
    box-shadow: 0 1rem 2rem hsla(4, 100%, 67%, 0.3);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}
