@use '../abstracts/variables' as *;

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__label-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    
    label {
      font-size: 0.75rem;
      font-weight: var(--fw-bold);
      color: var(--clr-neutral-dark-slate-grey);
    }
  }

  input {
    padding: 1rem;
    border: 1px solid var(--clr-neutral-grey);
    border-radius: 0.5rem;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
      border-color: var(--clr-neutral-dark-slate-grey);
    }

    &.error {
      background-color: hsla(4, 100%, 67%, 0.15);
      border-color: var(--clr-primary-tomato);
      color: var(--clr-primary-tomato);
    }
  }
}

.button {
  background-color: var(--clr-neutral-dark-slate-grey);
  color: var(--clr-neutral-white);
  padding: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: linear-gradient(to right, #ff527b, var(--clr-primary-tomato));
    box-shadow: 0 1rem 2rem hsla(4, 100%, 67%, 0.3);
  }
}