*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-neutral-charcoal-grey);
  font-family: var(--ff-primary);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

img,picture{
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

ul[role='list']{
  list-style: none;
}