body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-charcoal-grey);
  font-size: 1rem;
}

h1 {
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-dark-slate-grey);
}

strong {
  font-weight: var(--fw-bold);
}