:root {
  // Colors
  --clr-primary-tomato: hsl(4, 100%, 67%);
  
  --clr-neutral-dark-slate-grey: hsl(234, 29%, 20%);
  --clr-neutral-charcoal-grey: hsl(235, 18%, 26%);
  --clr-neutral-grey: hsl(0, 0%, 58%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  // Typography
  --ff-primary: 'Roboto', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
}